@use 'sass:color';

// TODO: Import this locally
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");

/* vars */
$primary-color: #082F59;
$secondary-color: #047eb3;
$accent-color: #f5ce4a;
$on-primary-color: white;
$on-secondary-color: white;
$on-accent-color: white;
$text-color: #353535;


$site-width: 1200px;


html,
body {
    padding: 0;
    margin: 0;
}

.body {
    display: grid;
    grid-template-rows: 8em auto auto 20em;
    grid-template-columns: 1fr;
    min-height: 100vh;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: 300;
    padding: 2em;
    margin: auto;
    line-height: 1.5em;
    max-width: $site-width;
}


.footer {
    img {
        padding-right: 0.3em;
        width: 1em;
        vertical-align: middle;
    }

    grid-column: 1;
    grid-row: 4;
    background-image: url(/images/footer_large.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    background-position: bottom;
    display: grid;
    grid-auto-flow: row;
    align-content: end;
    justify-content: start;
    color: #cecece;
    font-size: 0.8em;
    padding: 2em;
    gap: 0.5em;
}

.main {
    grid-column: 1;
    grid-row: 3;
}

.profile {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;

    &__image {
        max-width: 20em;
        border-radius: 50%;
        grid-row: 1;
        grid-column: 1;
        justify-self: center;
        align-self: center;
    }

    &__intro {
        grid-column: 2;
        grid-row: 1;
        background: linear-gradient($secondary-color, $primary-color);
        padding: 2em;
        display: grid;
        grid-auto-flow: column;
        border-radius: 1em;
    }

    &__body {
        grid-column: 2;
        grid-row: 2;
    }
}

.intro {
    display: grid;
    grid-auto-flow: row;

    &__title {
        font-size: 3em;
        font-weight: bold;
        justify-self: center;
        align-self: center;
        color: $on-primary-color;
    }

    &__tag {
        font-family: "Caveat", cursive;
        font-size: 0.5em;
        color: $accent-color;
        padding-top: 1em;
        font-weight: normal;
    }
}

/* welcome */
.welcome {
    text-align: center;
    margin-top: 5em;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;

    &__title {
        font-size: 4em;
        margin-bottom: 1em;
        color: $primary-color;
    }

    &__body {

    }

    &__contact {
        margin-top: 1em;
        font-size: 1.5em;
    }
}

/* panel */
.panel {
    display: grid;
    grid-column: 1;
    grid-row: 4;
    row-gap: 1em;
    margin-top: 5em;
    margin-bottom: 5em;

    &__content {
        grid-column: 1;
        grid-row: 3;
    }

    &__title {
        font-size: 2em;
        grid-row: 1;
        grid-column: 1/3;

        &--green {
            border-color: #007216;
    
            div {
                background: #007216;
            }
        }
    
        &--blue {
            border-color: #0052bd;
    
            div {
                background: #0052bd;
            }
        }
    
        &--left {
            justify-self: left;
        }
    
        &--right {
            justify-self: right;
        }

        div {
            border-radius: 0.3em;
            border: solid 3px #f7ffff;
            padding: 0.5em;
            width: fit-content;
            font-weight: 500;
            color: #f7ffff;
        }
    
        width: fit-content;
        font-size: 2em;
        border-radius: 0.3em;
        border-style: solid;
        border-width: 4px;
    }

    &__divider {
        grid-row: 2;
        grid-column: 1/3;
        border-bottom: solid 1px #d5d5d5;
    }
}

/* services */
.services  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    column-gap: 2em;
    row-gap: 6em;

    &__description {
        margin-top: 1em;
        margin-bottom: 2em;
    }
}

.service {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    background: linear-gradient(220deg, $secondary-color, $primary-color);
    color: $on-primary-color;
    padding: 3em;
    border-radius: 1em;
    height: fit-content;

    &__name {
        grid-row: 1;
        grid-column: 1;
        font-size: 1.8em;
        line-height: 1.1;
        margin-bottom: 1em;
    }

    &__description {
        grid-row: 3;
        grid-column: 1;
    }

    &__price {
        grid-row: 2;
        grid-column: 1;
        background: white;
        font-size: 3em;
        padding-top: 0.5em;
        padding-bottom: 0.4em;
        margin-left: -1em;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        margin-bottom: 1em;
        color: $accent-color;
        text-align: center;
        font-weight: bold;

        div {
            font-size: 0.3em;
            padding-top: 0.5em;
        }
    }
}

/* hero */

.hero {
    grid-column: 1;
    grid-row: 2;
    display: grid;
}

.banner {
    width: 100%;
    justify-self: center;

    &--hero {
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }

    &--footer {
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }
}


/* Nav */

.nav {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;
    align-items: center;
    margin-bottom: 1em;
}

.logo {
    width: 6em;
    grid-column: 1;
    grid-row: 1;
}

.menu {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    font-size: 1.2em;
    justify-self: end;
    grid-column: 3;
    grid-row: 1;
    justify-items: end;
}

/* Common */

.cone {
    display: grid;
    justify-content: center;
    
    img {
        width: 6em;
    }
}

b {
    font-weight: bold;
}

.button {
    padding-top: 0.3em;
    padding-bottom: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.3em;
    color: $primary-color;
    font-size: 1.2em;

    &:hover {
        background-color: $primary-color;
        color: $accent-color;
    }
}

a {
    text-decoration: none;
    color: $secondary-color;

    &:hover {
        color: $accent-color;
    }
}

/* Special */
.contact {
    display: grid;
    grid-auto-flow: column;
    gap: 0.2em;
    font-size: 1.2em;

    i {
        padding-top: 0.3em;
        padding-bottom: 0.4em;
        padding-left: 1em;
        padding-right: 1em;
        background-color: $primary-color;
        color: $on-primary-color;

        &:hover {
            color: $accent-color;
        }

        &:last-child {
            border-top-right-radius: 0.3em;
            border-bottom-right-radius: 0.3em;
        }

        &:first-child {
            border-top-left-radius: 0.3em;
            border-bottom-left-radius: 0.3em;
        }
    }
}