@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");

/* vars */
$primary-color: #082F59;
$secondary-color: #0E4258;
$accent-color: #ff6400;
$on-primary-color: white;
$on-secondary-color: white;
$on-accent-color: white;

$site-width: 1600px;


html,
body {
    padding: 0;
    margin: 0;
}

.body {
    display: grid;
    grid-template-rows: 8em auto auto 20em;
    grid-template-columns: 1fr;
    min-height: 100vh;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    padding: 2em;
    margin: auto;
    max-width: $site-width;
}


.footer {
    i {
        padding-right: 0.3em;
    }
    grid-column: 1;
    grid-row: 4;
    background-image: url(/images/footer_large.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    background-position: bottom;
    display: grid;
    grid-auto-flow: row;
    align-content: end;
    justify-content: start;
    color: #cecece;
    font-size: 0.8em;
    padding: 2em;
    gap: 0.5em;
}

.main {
    grid-column: 1;
    grid-row: 3;
    height: 50em;

    /* TEMP */
    display: grid;
    justify-content: center;
    align-content: center;
}

/* hero */

.hero {
    grid-column: 1;
    grid-row: 2;
    display: grid;
}

.banner {
    width: 100%;
    justify-self: center;

    &--hero {
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }

    &--footer {
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }
}


/* Nav */

.nav {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;
    align-items: center;
    margin-bottom: 1em;
}

.logo {
    width: 6em;
    grid-column: 1;
    grid-row: 1;
}

.menu {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    font-size: 1.2em;
    justify-self: end;
    grid-column: 3;
    grid-row: 1;
    max-width: 40em;
    width: 100%;
    justify-items: end;
}

/* Common */

.button {
    padding-top: 0.3em;
    padding-bottom: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.3em;
    color: $primary-color;
    font-size: 1.2em;

    &:hover {
        background-color: $primary-color;
        color: $on-primary-color;
    }

    &:active {
        color: $accent-color;
    }
}

a {
    text-decoration: none;
}


/* Special */
.contact {
    display: grid;
    grid-auto-flow: column;
    gap: 0.2em;
    font-size: 1.2em;

    i {
        padding-top: 0.3em;
        padding-bottom: 0.4em;
        padding-left: 1em;
        padding-right: 1em;
        background-color: $primary-color;
        color: $on-primary-color;

        &:hover {
            color: $accent-color;
        }

        &:last-child {
            border-top-right-radius: 0.3em;
            border-bottom-right-radius: 0.3em;
        }

        &:first-child {
            border-top-left-radius: 0.3em;
            border-bottom-left-radius: 0.3em;
        }
    }
}